<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue</title>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <p>which radio picked:{{arrName}}</p>
      <input type="checkbox" v-model="arrName" id="lavria" value="Lavria" />
      <label for="lavria">Lavria</label>
      <input type="checkbox" v-model="arrName" id="nepgear" value="Nepgear" />
      <label for="nepgear">Nepgear</label>
    </div>

    <script>
      const { createApp } = Vue;
      const App = createApp({
        data() {
          return {
            flag: false,
            arrName: [],
          };
        },
      }).mount('#app');
    </script>
  </body>
</html>
